/* This is the universal selector, allowing us to make changes to the entire HTML document at once */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Below are HTML element selectors, allowing us to call on a specific HTML element tag and style it using CSS */
body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

/* This forces the nav bar to the right of the webpage and controls font-family and font-size */
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* This removes the bullet points from the list items in the nav bar */
ul {
  list-style-type: none;
}

/* This makes the list items in the nav bar display in one row instead of column */
li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* This makes the main text section take up 75% of the viewport width and sets the left margin to 20px*/
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* This sets the side section to be 100% of the viewport height but only 20% of the total width of the viewport and sets the right margin to be 20px*/
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h4 {
  font-size: 20px;
}

/* Below are the class selectors, allowing us to call on a specific class that we made in HTML and style it using CSS */
/* This first class selector controls the certain features you can see below for all the instances the class is called in HTML*/
.section1 {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.section1 img {
  max-height: 200px;
}

/* This forces the images in the 1st and 3rd main sections to the left of the box */
.float-left {
  float: left;
  margin-right: 25px;
}

/* This forces the image in the middle main section to the right side of the box */
.float-right {
  float: right;
  margin-left: 25px;
}

.benefits {
  margin-bottom: 32px;
  color: #ffffff;
}

/* This foreces all three images within the benefits section to be stacked with the other content in the center of the sidebar section */
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Below are the id selectors, which are very similar to class selectors but are used when it's something that's only called on once */
/* This id changes the "seo" in the name "Horiseon" to a different color than the rest of the text */
#seo {
  color: #d9dcd6;
}

/* This id below depicts the large background image seen on the page*/
#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
